upstream {{ project.name }} {
        server unix:///home/{{ host.user }}/{{ project.name }}/uwsgi.socket;
}

server {
        listen {{ host.port }};
        server_name {{ host.domain }} {{ ansible_eth0.ipv4.address }};
        access_log /var/log/nginx/{{ project.name }}-access.log;
        error_log /var/log/nginx/{{ project.name }}-error.log;
        charset utf-8;

        client_max_body_size 75M;

        location /static/ {
                alias /home/{{ host.user }}/static;
                expires 10d;
                autoindex off;
        }

        location /media/ {
                root /home/{{ host.user }}/{{ project.name }};
        }

        location / {
                uwsgi_pass {{ project.name }};
                include uwsgi_params;
        }

        location /favicon.ico {
                alias /home/{{ host.user }}/static/favicon.ico;
         }
}
