upstream {{ project.name }} {
        server unix://{{ host.home }}/{{ project.name }}/uwsgi.socket;
}

server {
        listen {{ host.port }};
        server_name {{ host.domain }} {{ ansible_eth0.ipv4.address }};
        access_log {{ host.home }}/log/nginx-access.log;
        error_log {{ host.home }}/log/nginx-error.log;
        charset utf-8;

        client_max_body_size 75M;

        location /static/ {
                alias {{ host.home }}/static/;
                expires 10d;
                autoindex off;
        }

        location /media/ {
                root {{ host.home }}/{{ project.name }}/;
        }

        location / {
                uwsgi_pass {{ project.name }};
                include uwsgi_params;
        }

        location /favicon.ico {
                alias {{ host.home }}/static/favicon.ico;
         }
}