[uwsgi]
virtualenv = {{ project.env.path }}
chdir = {{ project.path }}
wsgi-file = {{ project.name }}/wsgi.py

processes = 2
thread = 1
master = true

socket = {{ host.home }}/{{ project.name }}/uwsgi.socket
chmod-socket = 777
uid = root
gid = root

procname = {{ project.name }}
plugin = {{ python.version }}

vacuum = true

logto = {{ host.home }}/log/uwsgi.log
#touch-reload = /etc/uwsgi/apps-enabled/{{ project.name }}
